body, html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

@media (min-width: 768px) {
	.dropdown .dropdown-menu {
	display: block;
	/* opacity: 0; */
	opacity: 1;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-ms-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	z-index: 0;
	font-size: 25px;
}
	
.dropdown:hover .dropdown-menu {
	z-index: 0;
	display: block;
	opacity: 1;
	top: 60px;
	background-color: #f9f9f9;
}
	
.vrau{
	display:block;
	opacity:1;
}
	
.sidenav {
	height: 42.5%;
	width: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(76, 175, 80, 0.3);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block; 
transition: 0.3s;
}

.sidenav a:hover {
color: #8eb640;
}

.sidenav .closebtn {
color:white;
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

#main {
	position: absolute;
	transition: margin-left .5s;
	padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
h2::after {
	position: absolute;
	content: "";
	background: green;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	/* text-transform: uppercase; */
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	text-align: center;
	display: block;
	padding: 20px;
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	text-align: center;
	outline-offset: none;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url("https://img.freepik.com/free-photo/ingredients-healthy-foods-selection_35641-2964.jpg?size=626&ext=jpg") center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
/* Recipes Section */
#recipes {
	padding: 10px 0;
}
#recipes .recipe-card-container {
    display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
	
}
#recipes .recipe-card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
    box-shadow: 4px 4px 8px 0 green;
    transition: 0.3s;
    width: 32%;
    margin-top: 20px;
}
#recipes img {
	margin: auto auto;
	width: 100%;
	height: 500px;
}
#recipes img:hover {
	opacity: .5;
	margin: auto auto;
	width: 100%;
	height: 500px;
}
#recipes .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#recipes p {
	line-height: 24px;
	margin: 15px 0 30px;
}

*{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
	background-color: transparent;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: relative;
	top: 60px;
	right: 28px;
	width: 280px;
	font-size: 25px;
}
.remove-button {
	background-color: transparent;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: relative;
	bottom: 23px;
	right: 28px;
	width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 2%;
	right: 32%;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	max-width: 600px;
	padding: 10px;
	color: white;
	background-color: grey;
}

/* Full-width input fields */
.form-container input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	color: black;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
	background-color: #96b161;
	outline: none;
	color: white;
}

/* Set a style for the add recipe button */
.form-container .btn {
	background-color: #8eb640;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel/close button */
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 1; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #a7c44c; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	opacity: .8;
}

#myBtn:hover {
	background-color: green; /* Add a dark-grey background on hover */
}

/* Recipe Ingredients */

.recipe-ingredients-popup {
	display: none;
	background-color: #a7c44c;
	position: fixed;
	padding: 30px;
	bottom: 40%;
	right: center;
	/* right: 44.5%; */
	/* border: 5px solid white; */
	box-shadow: 5px 5px  white, -.5em 0 .4em green; /* more like a book */
	z-index: 1;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 2px green;
}

/* Add styles to the form container */
.recipe-ingredients-container {
	max-width: 600px;
	/* padding: 10px; */
	color: white;
	/* background-color: grey; */
}

/* Full-width input fields */
.recipe-ingredients-container input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	color: black;
}

/* When the inputs get focus, do something */
.recipe-ingredients-container input[type=text]:focus {
	background-color: #96b161;
	outline: none;
	color: white;
}

/* Set a style for the add recipe button */
.recipe-ingredients-container .btn {
	background-color: #8eb640;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
}

/* Add some hover effects to buttons */
.recipe-ingredients-container .btn:hover, .open-button:hover {
	opacity: 1;
}

.recipe-ingredients-open-button {
	background-color: transparent;
	color: black;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	position: relative;
	
	font-size: 15px;
}
.recipe-ingredients-open-button:hover {
	color: #8eb640;
}

.recipe-ingredients-remove-button {
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	left: 200px;
	
}

}