body,
html {
	font-family: "Open Sans", serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

.overlay .sidenav {
	height: 100%;
	border-bottom-right-radius: 25px;
	width: 0;
	position: absolute;
	z-index: 1;
	background: rgba(76, 175, 80, 0.3);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.overlay .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay .sidenav a:hover {
	color: #8eb640;
}

.overlay .sidenav .closebtn {
	color: white;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#main {
	position: absolute;
	transition: margin-left 0.5s;
	padding: 16px;
}

h1,
h2,
h3,
h4 {
	font-family: "Raleway", sans-serif;
	text-shadow: 1px 1px 2px grey;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
h2::after {
	position: absolute;
	content: "";
	background: green;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	/* text-transform: uppercase; */
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	text-align: center;
	display: block;
	padding: 20px;
	color: #8eb640;
}
a:hover,
a:focus,
li:hover,
li:focus {
	text-decoration: none;
	color: #222;
}
ul,
ol {
	list-style: none;
	padding: 0;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	text-align: center;
	outline-offset: none;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url("https://img.freepik.com/free-photo/ingredients-healthy-foods-selection_35641-2964.jpg?size=626&ext=jpg")
		center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0, 0, 0, 0.4);
	position: relative;
	height: 100%;
}
.intro h1 {
	font-family: "Rochester", cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
	text-shadow: 2px 3px 2px #8eb640;
	text-align: center;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
	text-shadow: 1px 1px 2px grey;
}
/* Recipes Section */
#recipes {
	padding: 10px 0;
}
#recipes .recipe-card-container {
	display: none;
	flex-flow: row wrap;
	justify-content: space-around;
}
#recipes .recipe-card {
	display: flex;
	border-radius: 25px;
	flex-flow: row wrap;
	justify-content: space-around;
	box-shadow: 4px 4px 8px 0 green;
	transition: 0.3s;
	width: 26%;
	margin: 20px 50px 100px;
}
#recipes img {
	border-radius: 25px;
	margin: auto auto;
	width: 100%;
	height: 500px;
}
#recipes img:hover {
	border-radius: 100%;
	opacity: 0.5;
	margin: auto auto;
	width: 100%;
	height: 500px;
}

#recipes p {
	line-height: 24px;
	margin: 15px 0 30px;
}

* {
	box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
	background-color: transparent;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: relative;
	top: 60px;
	right: 28px;
	width: 280px;
	font-size: 25px;
	text-shadow: 1px 1px 2px #8eb640;
}

/* The recipe form - hidden by default */
.add-recipe-form {
	border-radius: 25px;
	display: none;
	position: fixed;
	bottom: 2%;
	right: 32%;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	border-radius: 25px;
	max-width: 600px;
	padding: 10px;
	color: white;
	background-color: grey;
}

.form-container input {
	border-radius: 5px;
}

/* Full-width input fields */
.form-container input[type="text"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	color: black;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus {
	background-color: #96b161;
	outline: none;
	color: white;
}

/* Set a style for the add recipe button */
.form-container .btn {
	background-color: #8eb640;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel/close button */
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
	color: #a7c44c;
	opacity: 1;
}

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 1; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #a7c44c; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	opacity: 0.8;
}

#myBtn:hover {
	background-color: green; /* Add a dark-grey background on hover */
}

/* Recipe Ingredients */

.recipe-ingredients-book {
	display: none;
	background-color: #a7c44c;
	position: fixed;
	padding: 30px;
	bottom: 40%;
	opacity: 0.9;
	box-shadow: 5px 5px white, -0.5em 0 0.4em green; /* more like a book */
	z-index: 1;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 2px green;
}

/* Add styles to the form container */
.recipe-ingredients-container {
	max-width: 600px;
	/* padding: 10px; */
	color: white;
	/* background-color: grey; */
}

/* Full-width input fields */
.recipe-ingredients-container input[type="text"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	color: black;
}

/* When the inputs get focus, do something */
.recipe-ingredients-container input[type="text"]:focus {
	background-color: #96b161;
	outline: none;
	color: white;
}

/* Set a style for the add recipe button */
.recipe-ingredients-container .btn {
	background-color: #8eb640;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
}

/* Add some hover effects to buttons */
.recipe-ingredients-container .btn:hover,
.open-button:hover {
	opacity: 1;
}

.recipe-ingredients-book-button {
	background-color: transparent;
	color: black;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	position: center;
	text-shadow: 1px 1px 2px grey;
	font-size: 15px;
}
.recipe-ingredients-book-button:hover {
	color: #8eb640;
}

.recipe-ingredients-remove-button {
	background-color: olivedrab;
	color: white;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	left: 200px;
}

#all-ingredients {
	display: none;
	border-radius: 25px;
	background-color: olivedrab;
	color: white;
	position: absolute;
	top: 50%;

	opacity: 0.9;
	top: 15%;
	left: 20%;
	font-size: 20px;
	z-index: 1;
}
.select {
	display: none;
	border-bottom-right-radius: 25px;
	/* background-color: olivedrab; */
	background: #a7c44c;
	color: white;
	position: absolute;
	top: 50%;
	width: fit-content;
	opacity: 0.9;
	top: 15%;
	left: 20%;
	font-size: 20px;
	z-index: 1;
}

.ingredient-recipes {
	display: flex;
	border-radius: 25px;
	background-color: olivedrab;
	color: white;
	position: absolute;
	top: 50%;

	opacity: 0.9;
	top: 20%;
	left: 43%;
	font-size: 20px;
	z-index: 1;
}

.fade-in {
	animation: fadeIn ease-in-out 500ms;
	-webkit-animation: fadeIn ease-in-out 500ms;
	-moz-animation: fadeIn ease-in-out 500ms;
	-o-animation: fadeIn ease-in-out 500ms;
	-ms-animation: fadeIn ease-in-out 500ms;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* .fade-out {
	visibility: visible;
	opacity: 0;
	transition: opacity 10s linear;
} */
